---
import "../styles/global.css";
---
<html lang="es" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body class="">
    <!-- Fondo opcional -->
    <div class="fixed inset-0 -z-10"></div>

    <!-- ¡IMPORTANTE! Aquí va el contenido de la página -->
    <main class="">
      <slot />
    </main>
  </body>
</html>